@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 287 0% 95%;
    --foreground: 287 0% 0%;
    --card: 287 0% 90%;
    --card-foreground: 287 0% 10%;
    --popover: 287 0% 95%;
    --popover-foreground: 287 95% 0%;
    --primary: 287 57% 85%;
    --primary-foreground: 0 0% 0%;
    --secondary: 287 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 249 10% 85%;
    --muted-foreground: 287 0% 35%;
    --accent: 249 10% 80%;
    --accent-foreground: 287 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 287 0% 90%;
    --border: 287 20% 50%;
    --input: 287 20% 18%;
    --ring: 287 57% 85%;
    --radius: 1rem;
  }
  .dark {
    --background: 287 10% 5%;
    --foreground: 287 0% 90%;
    --card: 287 0% 0%;
    --card-foreground: 287 0% 90%;
    --popover: 287 10% 5%;
    --popover-foreground: 287 0% 90%;
    --primary: 287 57% 85%;
    --primary-foreground: 0 0% 0%;
    --secondary: 287 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 249 10% 15%;
    --muted-foreground: 287 0% 60%;
    --accent: 249 10% 15%;
    --accent-foreground: 287 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 287 0% 90%;
    --border: 287 20% 18%;
    --input: 287 20% 18%;
    --ring: 287 57% 85%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold leading-tight;
  }

  h2 {
    @apply text-xl sm:text-2xl md:text-3xl font-semibold leading-tight;
  }

  h3 {
    @apply text-lg sm:text-xl md:text-2xl font-semibold leading-tight;
  }

  h4 {
    @apply text-base sm:text-lg font-medium leading-tight;
  }

  h5 {
    @apply text-sm sm:text-base font-medium leading-tight;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100svh;
  }
}
